.full-width {
    width: 100%;
}

.flex {
    display: flex;
}

.content-textarea {
    min-height: 150px;
}

.header-title {
    font-weight: bold;
    font-size: large;
}

.authors-list {
    margin-bottom: 20px
}

.control-row {
    margin-bottom:20px;
}